
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>

<body class="{{themePreference}}">
    <header class="header" id="header">  
        <a href="/landing">Home</a>  
        <a href="/tools">Search</a>
        <a href="/users">Profile</a> 
        <a href="/lenderportalpage">Manage</a>
    </header>
    <div class="greeting">
    <h1>Welcome to the Community Tool Lending System!</h1>
    <h3>The purpose of this website is to be a marketplace for tools to be lent or borrowed within your Community!</h1>
    <h2>Here is a selection of some of our tools:</h2>
    </div>
    <div id="error" class="error" hidden></div>
    {{#if hasErrors}}
        <div class="error">Error: {{error}}</div>
    {{/if}} 

    <div class="toolsDiv" id="toolsDiv">
    {{#each tools}}
    <a href="/tools/{{_id}}" class="toolLink">
    <article class="toolArt">
        <img class="toolImage" alt="{{toolName}} image" src="public/uploads/{{image}}"> <br> <h2>{{toolName}}</h2> <br> <h3>{{description}}</h3> <h4>condition: {{condition}}</h4> 
    </article>
    </a>
    {{/each}}
    </div>

</body>