<head>
    <meta charset="UTF-8">
    <title>delete tool</title>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>

<body>
    {{!-- <header class="header" id="header"> --}}
    <h2>delete tools</h2>

    <h1>{{tool.toolName}}</h1>
            <p>Description: {{tool.description}}</p>
            <p>Condition: {{tool.condition}}</p>
            <p>Availability: {{tool.availability}}</p>
            <p>Location: {{tool.location}}</p>

            <form id="delete-tool" action="/toolsdelete/{{tool._id}}" method="POST">
                <button type="submit">Delete this tool</button>
            </form>
            {{!-- <p>Images: <img src="{{tool.images}}" alt="{{tool.toolName}} image"></p> --}}
            <a href="/tools">Back to tools list</a>
</body>