<head>
    <meta charset="UTF-8">
    <title>delete tool</title>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>

<body>
    <h1>edit tool</h1>
    <form action="/toolsedit" id="edit-tool-info" name="edit-tool-info" class="dark" method="POST" enctype="multipart/form-data">
    <!-- Hidden field to store ID -->
    <input type="hidden" id="toolId" name="toolId" value="{{tool._id}}" />
    <input type="hidden" id="userID" name="userID" value="{{tool.userID}}" />
    <input type="hidden" id="dateAdded" name="dateAdded" value="{{tool.dateAdded}}" />
    <input type="hidden" id="images" name="images" value="{{tool.images}}" />
    <input type="hidden" id="availability" name="availability" value="{{tool.availability}}" />
    <input type="hidden" id="location" name="location" value="{{tool.location}}" />
    <label for="toolName">Tool Name</label>
    <input type="text" id="toolName" name="toolName" value="{{tool.toolName}}" /><br>

    <label for="description">Description</label>
    <input type="text" id="description" name="description" value="{{tool.description}}" /><br>
    <p>Previous Description - {{tool.condition}}</p>
    <label for="condition">Previous Condition - {{tool.condition}} </label>
    <select name="condition" id="condition">
                <option value="Like New">Like New</option>
                <option value="Very Good">Very Good</option>
                <option value="Good">Good</option>
                <option value="Ok">ok</option>
                <option value="Minor Damage">Minor Damage</option>
                <option value="Some Damage">Some Damage</option>
                <option value="Very Damaged">Very Damaged</option>
    </select><br>

    {{!-- <label for="image">Image of Product (Upload new to replace)</label>
    <input type="file" accept="image/*" id="image" name="image"><br> --}}

    {{!-- <fieldset>
        <legend>Choose date availability starting today:</legend>
        <div>
            <input type="checkbox" id="d1" name="d1" {{#if tool.availability.[0]}}checked{{/if}} />
            <label for="d1">Sunday</label>
        </div>
        <div>
            <input type="checkbox" id="d2" name="d2" {{#if tool.availability.[1]}}checked{{/if}} />
            <label for="d2">Monday</label>
        </div>
        <div>
            <input type="checkbox" id="d3" name="d3" {{#if tool.availability.[2]}}checked{{/if}} />
            <label for="d3">Tuesday</label>
        </div>
        <div>
            <input type="checkbox" id="d4" name="d4" {{#if tool.availability.[3]}}checked{{/if}} />
            <label for="d4">Wednesday</label>
        </div>
        <div>
            <input type="checkbox" id="d5" name="d5" {{#if tool.availability.[4]}}checked{{/if}} />
            <label for="d5">Thursday</label>
        </div>
        <div>
            <input type="checkbox" id="d6" name="d6" {{#if tool.availability.[5]}}checked{{/if}} />
            <label for="d6">Friday</label>
        </div>
        <div>
            <input type="checkbox" id="d7" name="d7" {{#if tool.availability.[6]}}checked{{/if}} />
            <label for="d7">Saturday</label>
        </div>
    </fieldset> --}}
    
    <button id="edittoolsubmit" name="edittoolsubmit" type="submit">Update Tool</button>
</form><br>
{{!-- <div id="toolregistererror" class="formerror" hidden></div> --}}
<script src="../public/js/client_side_validation.js"></script>


</body>